.active {
  position: relative;
  transition: 0.4s ease;
  /* color: rgba(19, 19, 247, 0.788); */
  color: indigo;
}

.active::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 100%;
  height: 2px;
  background-color: rgba(76, 0, 130, 0.842);
  bottom: 0;
  left: 0;
}
